@import 'variables';
@import 'mixins';

.container-discussion {
    .container {
        @include container-margin;
    }

    h1,
    h2 {
        @include center-text;
        margin-bottom: $spacing-unit;
    }

    .list-group {
        margin-bottom: $spacing-unit;

        a {
            @include transition-bg;

            p {
                @include small-text;
                color: $secondary-text-color;
            }

            &:hover {
                background-color: $hover-bg-color;
            }
        }
    }

    // Estilos para la página community.html
    .discussion {
        border: 1px solid;
        padding: 1em;
        margin-bottom: 1em;

        .anime img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    .discussion-header {
        display: flex;
        align-items: center;
    }



    // Estilos para la columna de discusiones aleatorias
    .col-md-3 {
        .anime {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .relevant-discussion {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        .discussion-content {
            flex: 1;


            p {
                @include small-text;
                color: $secondary-text-color;
            }

            .view-more {
                text-decoration: none;
            }
        }
    }

    .discussion-content {
        flex: 1;

        p {
            @include small-text;
            color: $secondary-text-color;
        }

        .view-more {
            text-decoration: none;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

}