@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin social-icon-colors {
    .youtube { color: $youtube-color; }
    .instagram { color: $instagram-color; }
    .tiktok { color: $tiktok-color; }
}
