@import 'variables';
@import 'mixins';

.navbar,
.offcanvas {
    background-color: $navbar-bg-color;
    color: $text-color;

    #offcanvasExampleLabel {
        color: $navbar-text-color;
    }

    .navbar-brand,
    .nav-link {
        display: flex;
        align-items: center;

        .material-icons {
            margin: 8px;
        }
    }
}

.navbar {
    .nav-link a {
        color: $text-color;
    }
}

.dropdown-menu {
    background-color: $dropdown-bg-color;
}

.dropdown-item {
    color: $dropdown-item-color;

    &:hover {
        background-color: $dropdown-item-hover-bg;
        color: $dropdown-item-hover-color;
    }
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.offcanvas .nav-link {
    color: $navbar-text-color; // o puedes usar una variable // Cambiar el color del texto "Explore Options"    
}

.navbar-brand {
    transition: transform .5s ease-in-out; // Duración y tipo de transición

    &:hover {
        transform: rotateY(360deg); // Rotación de 360 grados en el eje Y
    }
}