@import 'variables';
@import 'mixins';

// Estilos para el menú de navegación de Bootstrap
.navbar {
    background-color: $navbar-bg-color;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: $navbar-text-color;
}
/* siderbar */
.sidebar {
    padding: 1em; /* Espaciado interno */
    border-right: 1px solid #ddd; /* Borde derecho */
}

.sidebar .nav-link {
    display: flex; /* Utiliza Flexbox para alinear íconos y texto */
    align-items: center; /* Alinea verticalmente los íconos y el texto */
    color: #4B0082; /* Morado oscuro */
}
.sidebar h3 {
    color: #4B0082; /* Morado oscuro */
}

.sidebar .nav-link .material-icons {
    margin-right: 0.5em; /* Agrega un margen a la derecha del ícono */
}

.sidebar .nav-link:hover {
    color: #800080; /* Morado al pasar el ratón */
}

.dropdown:hover .dropdown-menu {
    display: block;
}