$primary-color: #4B0082;
$secondary-color: #800080;
$white-color: #FFFFFF;
$grey-color: #333333;
$light-grey-color: #ddd;
$youtube-color: #FF0000;
$instagram-color: #E1306C;
$tiktok-color: #000000;
$gold-color: #FFD700;