// Colores
$body-bg-color: #800080; // Morado
$text-color: #FFFFFF; // Blanco
$navbar-bg-color: #FFFFFF; // Blanco
$navbar-text-color: #4B0082; // Morado oscuro
$gallery-item-bg: #FFFFFF; // Blanco
$gallery-item-border: #4B0082; // Morado oscuro
$footer-bg: #4B0082; // Morado oscuro
$footer-text: #FFFFFF; // Blanco
// font
$font-family: Arial, sans-serif;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Variables específicas para la página mylist.html
$anime-card-bg: #f9f9f9;
$anime-card-border: #ccc;
$tag-bg-watching: #4caf50;
$tag-bg-completed: #2196f3;
$tag-bg-plan-to-watch: #ff9800;

//Variables específicas para navbar
$navbar-bg-color: #f8f9fa;
$dropdown-bg-color: #ffffff;
$dropdown-item-color: #343a40;
$dropdown-item-hover-bg: #f8f9fa;
$dropdown-item-hover-color: #343a40;
$offcanvas-bg-color: #343a40;